html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #da6200;
  padding: 2px 1px 3px;
  text-decoration: none;
}

a:hover {
  background-color: #da62001c;
  transition: .2s;
}

img {
  max-width: 100%;
  display: block;
}